.signOutButton {
  padding: 0.5rem 1rem;
  background-color: #f1093f;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.signOutButton:hover {
  background-color: #c80533;
}
