.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 900px) {
  .main.expanded {
    margin-left: 3.5rem;
  }
  .main {
    margin-left: 3.5rem;
    padding: 2rem 1rem;
    min-height: 100vh;
    margin-top: 3rem;
  }
}
